.cart {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 500;
    color: #080B13;
}

.cart input {
    border: 1px solid #080B13;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 10px;
}

.location label {
    font-size: 20px;
}

.cart .details {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    margin-top: 40px;
}

.cart .btns .btn {
    border: 1px solid #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin-top: 15px;
}

.intro {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.agree {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin: 30px 0;
}

.submit {
    align-items: center;
    padding: 12px 24px;
    width: 100%;
    height: 50px;
    background: rgba(60, 55, 55, 0.8);
    opacity: 0.6;
    color: #fff;
    font-size: 20px;
}

.cart-items {
    margin-top: -20px;
}

.grand-total {
    margin: 30px;
    margin-top: 10px;
    width: 60%;
    margin-left: 35%;
}

.grand-total .tot {
    display: flex;
    justify-content: space-between;
}

.grand-total .tot h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.grand-total .tot h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
}

.grand-total .tot input {
    height: 50px;
    margin-right: 15px;
    padding: 0 20px;
}

.grand-total .btn {
    background-color: #000;
    color: #ffff;
    padding: 8px 24px;
    width: 100px;
    font-size: 20px;
}

.grand-total .promo {
    margin-top: 20px;
}

.del {
    margin-top: -10px;
}

.qty,
.btn-qty {
    margin-top: -5px;
}

.collection,
.article {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: rgb(63, 62, 62);
}

@media (max-width: 770px) {

    .grand-total {
        margin-left: 38%;
        font-size: smaller;
    }

    .grand-total .tot input {
        height: 40px;
        margin-right: 10px;
        width: 80%;
    }

    .grand-total .btn {
        padding: 8px;
        font-size: 15px;
    }

    .grand-total .tot h2 {
        font-size: 16px;
    }

    .grand-total .tot h3 {
        font-size: 14px;
    }

    .cart-items {
        font-size: smaller;
    }

    .del {
        margin-top: -20px;
        font-size: smaller;
    }

    .size,
    .color,
    .qty {
        font-size: smaller;
    }

    .qty {
        margin-top: -8px;
    }
}

@media (max-width: 450px) {
    label {
        font-size: 14px;
    }

    .location label {
        font-size: 16px;
    }

    .agree {
        font-size: 12px;
    }

    .submit {
        font-size: 16px;
    }

    .cart .btns .btn {
        font-size: 16px;
    }

    .grand-total {
        margin-left: 20px;
        width: 85%;
        font-size: larger;
    }

    .data {
        margin-top: 20px;
    }

    .cart-items {
        margin-top: 20px;
    }
}